/*HOME*/
.title-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-header h1{
  font-size: var(--font-large);
  color: var(--color-default);
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.box-btn{
  width: 100%;
  display: block;
  margin: 20px 0;
}

.box-content{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box-card{
  display: block;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.box-card h2{
  font-size: var(--font-medium);
  color: var(--color-fsphp);
  padding: 12px 0;
  font-weight: var(--weight-strong);
  text-transform: uppercase;
}

.box-card h3{
  font-size: var(--font-default);
  color: var(--color-fsphp);
  padding: 5px 0;
  font-weight: var(--weight-strong);
}

.box-card p{
  font-size: var(--font-default);
  color: var(--color-default);
  padding: 5px 0;
  font-weight: var(--weight-strong);
}

.card{
  width: 100%;
  margin-bottom: 25px;
}


.progress{
  width: 40%;
  background: #eee;
  margin: 12px 0;
  position: relative;
}

.progress span{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-fsphp);
  font-weight: var(--weight-strong);
  padding: 5px 12px;
}

.percent{
  width: 0%;
  height: 100%;
  background: var(--gradient-blue);
  position: absolute;
  top: 0;
  left: 0;
}

/*CADASTRO*/
.box-container-form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_form{
  width: 45%;
  border-radius: var(--radius-normal);
  padding: 15px;
  display: block;
}

.app_form label{
  width: 100%;
}

.app_form label > span{
  font-size: .8em;
  font-weight: var(--weight-bold);
  color: var(--color-fsphp);
  margin-bottom: 12px;
}

.app_form .form-group{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.app_form .form-group label{
  flex-basis: 48%;
}

.app_form input{
  width: 100%;
  padding: 12px 15px;
  border-radius: var(--radius-normal);
  margin: 12px 0;
}

.app_form .form-group input{
  flex-basis: 100%;
}



/*MESSAGES*/

.message {
    color: #ffffff;
    font-size: var(--font-normal);
    font-weight: var(--weight-strong);

    display: block;
    width: 100%;
    padding: 20px;
    border: 2px solid #cccccc;
    margin-bottom: var(--area-box);

    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);
}

.message.success {
    --color: var(--color-green);
    color: var(--color);
    border-color: var(--color);
}

.message.info {
    --color: var(--color-blue);
    color: var(--color);
    border-color: var(--color);
}

.message.warning {
    --color: var(--color-yellow);
    color: var(--color);
    border-color: var(--color);
}

.message.error {
    --color: var(--color-red);
    color: var(--color);
    border-color: var(--color);
}

/*AJAX RESPONSES MESSAGES*/

.ajax_response {
    position: fixed;
    padding: 20px 20px 0 0;
    z-index: 998;

    top: 0;
    right: 0;
    width: 300px;
    max-width: 100%;
}

.ajax_response .message {
    color: #ffffff;
    font-size: var(--font-min);
    font-weight: var(--weight-normal);
    overflow: hidden;
    border: none;

    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 15px 20px 15px;
    background: #333333;
    margin-bottom: 15px;
    position: relative;

    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);

    cursor: pointer;
}

.ajax_response .message:before {
    flex-basis: 0;
    margin: -5px 15px 0 0 !important;
    font-size: calc(var(--font-max) * 1.2);
    color: rgba(0, 0, 0, 0.5);
}

.ajax_response .message_time {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4%;
    height: 5px;
    background: rgba(0, 0, 0, 0.5);
}

.ajax_response .message.success {
    background: var(--color-green);
}

.ajax_response .message.info {
    background: var(--color-blue);
}

.ajax_response .message.warning {
    background: var(--color-yellow);
}

.ajax_response .message.error {
    background: var(--color-red);
}

/*NOT FOUND PAGE 404*/
.not_found {
    text-align: center;
    color: #555555;
}

.not_found .error {
    font-size: 8em;
    font-weight: var(--weight-light);
    color: #cccccc;
    margin-bottom: 40px;
}

.not_found_header {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.not_found p a {
    color: var(--color-green);
    text-decoration: none;
    font-weight: var(--weight-bold);
}

.not_found p a:hover {
    text-decoration: underline;
}

.not_found_btn {
    display: inline-block;
    margin-top: 60px;
    padding: 20px 40px;
    color: #ffffff;
    text-decoration: none;
    font-weight: var(--weight-bold);
}


@media  (max-width: 760px){
  .progress{
    width: 100%;
  }

  .box-card p{
    font-size: .8em;
  }

  .app_form{
    width: 100%;
    border-radius: var(--radius-normal);
    padding: 15px;
    display: block;
  }

  .app_form label{
    width: 100%;
  }

.app_form .form-group{
  flex-direction: column;
}

  .app_form .form-group label{
    flex-basis: 100%;
  }


}
